files:
  "/opt/aws/amazon-cloudwatch-agent/etc/amazon-cloudwatch-agent.d/roman7.json" :
    mode: "000644"
    owner: root
    group: root
    content: |
        {
            "logs": {
                "logs_collected": {
                    "files": {
                        "collect_list": [
                            {
                                "file_path": "/var/log/messages",
                                "log_group_name": "oppo",
                                "log_stream_name": "{instance_id}"
                            }
                        ]
                    }
                }
            }
        }
        
commands:
  command block:
    command: |
      cd /etc
      sudo systemctl start amazon-cloudwatch-agent.service
      sudo systemctl enable amazon-cloudwatch-agent.service
      cd /opt/aws/amazon-cloudwatch-agent/etc/amazon-cloudwatch-agent.d/
      sudo /opt/aws/amazon-cloudwatch-agent/bin/amazon-cloudwatch-agent-ctl -a fetch-config -m ec2 -c file:/opt/aws/amazon-cloudwatch-agent/etc/amazon-cloudwatch-agent.d/roman7.json
      sudo /opt/aws/amazon-cloudwatch-agent/bin/amazon-cloudwatch-agent-ctl -a start
      
      
      
