commands:
  command block:
    command: |
      sudo systemctl restart amazon-cloudwatch-agent.service
      sudo systemctl enable amazon-cloudwatch-agent.service
      cd /opt/aws/amazon-cloudwatch-agent/etc/amazon-cloudwatch-agent.d
      sudo /opt/aws/amazon-cloudwatch-agent/bin/amazon-cloudwatch-agent-ctl -a fetch-config -m ec2 -c file:/opt/aws/amazon-cloudwatch-agent/etc/amazon-cloudwatch-agent.d/file_newton.json
  
